.form-control {
  border: 1px solid transparent;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
}

label {
  color: grey;
}
@media print {
  #main-form {
    display: none;
  }

  #main-holder {
    justify-content: center;
  }

  #main-canvas {
    margin: 0;
    position: absolute;
    
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
  }
}
